.big-button {
  background: lighten($green4, 5);
  border: none;
  border-bottom: 0.6rem solid lighten($green4, 15); //width, type, color(predefined scss function used here)
  color: $white;
  height: $xl-size;
  font-size: $m-size;
  margin-bottom: $xl-size;
  width: 100%;
}
.big-button:disabled {
  opacity: 0.5;
}
.button {
  background: lighten($green4, 5);
  border: none;
  color: $white;
  border-bottom: 0.5rem solid lighten($green4, 15);
  height: $xl-size;
  padding: $s-size;
}
.button--link {
  background: none;
  color: $green4;
  padding: auto;
  border: none;
}
