.options {
  padding: $s-size;
}
.options__option {
  border-bottom: 0.5px solid $green4;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.add-option {
  display: flex;
  padding: $s-size;
  margin-top: -20px;
}
.add-option__input {
  flex-grow: 1;
  margin-right: 5px;
  background-color: $green1;
  border: none;
}
.error-message {
  color: red;
  margin: 0;
  padding-bottom: 5%;
}
