.options {
  padding: $s-size;
}
.options__option {
  border-bottom: 0.5px solid $green4;
  display: flex;
  justify-content: space-between;
}
.addOption {
}
.error-message {
  color: red;
  margin: 0;
  padding-bottom: 5%;
}
