.options {
  padding: $s-size;
}
.options__option {
  border-bottom: 0.5px solid $green4;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.add-option {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.add-option__input {
  background-color: $green1;
  border: none;
  flex-grow: 1;
  margin-right: 0 $s-size 0;
  padding: $s-size;
}
.error-message {
  color: red;
  margin: 0;
  padding-bottom: 5%;
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
    padding: $s-size;
  }
  .add-option__input {
    margin-right: $s-size;
  }
}
