.widget-header {
  background-color: $green3;
  color: $white;
  display: flex;
  justify-content: space-between;
}
.widget-title {
  margin: 0;
padding:2%;
font-weight: 700;
font-size:$m-size;
}
