.widget-header {
  background-color: $green3;
  color: $white;
  display: flex;
  justify-content: space-between;
}
.widget-title {
  font-size: $m-size;
  font-weight: 700;
  margin: 0;
  padding: 2%;
}
.widget {
  background-color: lighten($green4, 50);
  margin-bottom: 10%;
}
.widget__message {
  border-bottom: 1px solid $green4;
  color: $white;
  padding: $m-size;
  text-align: center;
}
